.main-container {
    flex: 1;
    padding: 30px 0px 8px 0px;
    display: flex;
    justify-content: space-between;
}

.main-container-row {
    display: flex;
}

.main-container-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute items with space between them */
}
